#modal-account-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-account-create-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-account-create-label.modal-title Добавить Аккаунт
            .modal-body
                form#form-account-create
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255')
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255')
                    .form-group
                        label ip
                        input.form-control(type='text', name='ip',maxlength='255')
            .modal-footer
                button#action-account-create.btn.btn-primary(type='submit') Добавить
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-account-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-account-change-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-account-change-label.modal-title Изменить Аккаунт
            .modal-body
                form#form-account-change
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255',readonly)
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255')
                    .form-group
                        label ip
                        input.form-control(type='text', name='ip',maxlength='255')
            .modal-footer
                button#action-account-change.btn.btn-primary(type='submit') Изменить
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-account-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-account-delete-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-account-delete-label.modal-title Удаление Аккаунт
            .modal-body
                form#form-account-delete
                    .form-group
                        input.form-control(type='hidden', name='_id')
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255',disabled)
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255',disabled)
                    .form-group
                        label ip
                        input.form-control(type='text', name='ip',maxlength='255',disabled)
            .modal-footer
                button#action-account-delete.btn.btn-primary(type='submit') Удалить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-account-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-account-many-delete-label.modal-title Подвердить удаление аккаунта
            .modal-body
                table#table-account-remove
            .modal-footer
                button#action-account-many-delete.btn.btn-danger(type='submit') Подвердить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-account-import.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-account-import-label.modal-title import accounts
            .modal-body
                input#file-account-import.file-loading(type='file', name='file')
            .modal-footer
                button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Отмена
#alert-account
#toolbar-account
    .form-inline(role='form')
        .form-group
            button.btn.btn-default(data-toggle='modal', data-target='#modal-account-create') Добавить
        .form-group
            button.btn.btn-danger(data-toggle='modal', data-target='#modal-account-many-delete') Удалить
        .form-group
            button.btn.btn-success(data-toggle='modal', data-target='#modal-account-import') Загрузить
        .form-group
            button.btn.btn-info(data-toggle='modal', data-target='#modal-account-export') Выгрузить
        .form-group
            button.btn.btn-warning(data-toggle='modal', data-target='#modal-account-export') Проверить
table#table-account-main