#modal-cron-create.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-cron-create-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-cron-create-label.modal-title Добавить Аккаунт
            .modal-body
                form#form-cron-create
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255')
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255')
                    .form-group
                        label ip
                        input.form-control(type='text', name='ip',maxlength='255')
            .modal-footer
                button#action-cron-create.btn.btn-primary(type='submit') Добавить
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-cron-change.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-cron-change-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-cron-change-label.modal-title Изменить Аккаунт
            .modal-body
                form#form-cron-change
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255',readonly)
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255')
                    .form-group
                        label ip
                        input.form-control(type='text', name='ip',maxlength='255')
            .modal-footer
                button#action-cron-change.btn.btn-primary(type='submit') Изменить
                button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
#modal-cron-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-cron-delete-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-cron-delete-label.modal-title Удаление Аккаунт
            .modal-body
                form#form-cron-delete
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255',disabled)
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255',disabled)
                    .form-group
                        label ip
                        input.form-control(type='text', name='ip',maxlength='255',disabled)
            .modal-footer
                button#action-cron-delete.btn.btn-primary(type='submit') Удалить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-cron-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-cron-many-delete-label.modal-title Подвердить удаление аккаунта
            .modal-body
                table#table-cron-remove
            .modal-footer
                button#action-cron-many-delete.btn.btn-danger(type='submit') Подвердить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-cron-task.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-cron-task-label.modal-title Задача
            .modal-body

            .modal-footer
                button.btn.btn-default.btn-block(type='button', data-dismiss='modal') Отмена
#alert-cron
#toolbar-cron
    .form-inline(role='form')
        .form-group
            button.btn.btn-danger(data-toggle='modal', data-target='#modal-cron-many-delete') Удалить
table#table-cron-main