doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
        script(src='/js/moment.min.js')
        script(src='/js/moment-with-locales.min.js')
        script(src='/js/chosen.jquery.js')
        script(src='/js/ImageSelect.jquery.js')
        link(rel='stylesheet', href='/css/chosen.css')
        link(rel='stylesheet', href='/css/ImageSelect.css')
        script(src='/js/bootstrap-table.js')
        script(src='/js/bootstrap-table-locale-all.min.js')
        link(rel='stylesheet', href='/css/bootstrap-table.min.css')
        script(src='/js/bootstrap-datetimepicker.min.js')
        link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
        script(src='/js/fileinput.min.js')
        link(rel='stylesheet', href='/css/fileinput.min.css')
        link(rel='stylesheet', href='/css/fuelux.css')
        //link(rel='stylesheet', href='/css/fuelux.min.css')
        script(src='/js/fuelux.min.js')
        script(src='/js/eventemitter2.js')
        link(rel='stylesheet', href='/css/bootstrap-switch.min.css')
        script(src='/js/bootstrap-switch.min.js')
        link(rel='stylesheet', href='/css/jquery.bootstrap-touchspin.min.css')
        script(src='/js/jquery.bootstrap-touchspin.min.js')
        //link(rel='stylesheet', href='/css/bootstrap-select.min.css')
        //script(src='/js/bootstrap-select.js')
        script(src='/js/jquery.ddslick.min.js')
        //link(rel='stylesheet', href='/css/bootstrap-nav-wizard.min.css')
        link(rel='stylesheet', href='/css/admin.css')
        script(src='/js/core.js')
    body.fuelux
        .navbar.navbar-inverse(role='navigation')
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') tdsAdminer
                    li
                        a(href='#about') About
                    li
                        a(href='#contact') Contact
        #loading.progress.progress-striped.active(style='display:none',role='progressbar')
            .bar
        #alert
        .navbar(role='navigation')
            .container-fluid
                .row
                    .tabbable
                        ul.nav.nav-pills.nav-stacked.col-md-1
                            li
                                a(href='#panel-task', data-toggle='tab') task
                            li
                                a(href='#panel-account', data-toggle='tab') account
                            li.active
                                a(href='#panel-job', data-toggle='tab') job
                            li
                                a(href='#panel-cron', data-toggle='tab') cron
                            li
                                a(href='#panel-user', data-toggle='tab') users
                        .tab-content.col-md-10
                            #panel-user.tab-pane
                                include user
                            #panel-account.tab-pane
                                include account
                            #panel-job.tab-pane.active
                                include job
                            #panel-cron.tab-pane
                                include cron
                            #panel-task.tab-pane
                                include task

        #buffer
            include login
