#modal-job-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-job-delete-label', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-job-delete-label.modal-title Удаление Аккаунт
            .modal-body
                form#form-job-delete
                    .form-group
                        label login
                        input.form-control(type='text', name='login',maxlength='255',disabled)
                    .form-group
                        label password
                        input.form-control(type='text', name='password',maxlength='255',disabled)
                    .form-group
                        label ip
                        input.form-control(type='text', name='ip',maxlength='255',disabled)
            .modal-footer
                button#action-job-delete.btn.btn-primary(type='submit') Удалить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#modal-job-many-delete.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                h4#modal-job-many-delete-label.modal-title Подвердить удаление аккаунта
            .modal-body
                table#table-job-remove
            .modal-footer
                button#action-job-many-delete.btn.btn-danger(type='submit') Подвердить
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
#alert-job
#toolbar-job
    .form-inline(role='form')
        .form-group
            button.btn.btn-danger(data-toggle='modal', data-target='#modal-job-many-delete') Удалить
table#table-job-main