#task-alert
button#task-clear.btn.btn-block.btn-danger(type="button") очистить форму
form#form-account-task.wizard
    .steps-container
        ul.steps
            li.active(data-step='1', data-name='task')
                span.badge 1
                | filter(фильтрация)
                span.chevron
            li(data-step='2')
                span.badge 2
                | post(постинг)
                span.chevron
            li(data-step='3')
                span.badge 3
                | cron(расписание)
                span.chevron
            //li(data-step='4')
            //    span.badge 4
            //    | account(аккаунты)
            //    span.chevron
    .actions
        button.btn.btn-default.btn-prev(type='button')
            span.glyphicon.glyphicon-arrow-left
            | Prev
        button.btn.btn-default.btn-next(type='button', data-last='Complete')
            | Next
            span.glyphicon.glyphicon-arrow-right
    .step-content
        .step-pane.active(data-step='1')
            .form-group
                label name(название)
                input.form-control(type='text', name='name',maxlength='255')
            .form-group
                label country(страна)
                select(name='country',data-live-search="true")
            .form-group
                label lang(язык)
                select.form-control(name='lang')
                    option(value="RU",selected) RU
                    option(value="EN") EN
                    option(value="DE") DE
                    option(value="IT") IT
                    option(value="FR") FR
                    option(value="ES") ES
                    option(value="CN") CN
                    option(value="JP") JP
                    option(value="Other") Other
            .form-group
                label count(количество 0 - все)
                .input-group
                    input.form-control(type='number', name='count',min="0" max="5",value="0")
                    span.input-group-addon 5
            .form-group
                label fix(фиксируемы список пользоваетелей)
                input.form-control(type='checkbox', name='fix')
        .step-pane.active(data-step='2')
            .form-group
                label img(изображения)
                input#task-img.file-loading(type='file', multiple='true', name='img')
             #task-img-list
            .form-group
                label msg(текст)
                textarea.form-control(rows="5" name="msg",autofocus,maxlength="100")
        .step-pane.active(data-step='3')
            .form-group
                label type(тип задачи)
                select.form-control(name='type')
                    option(value="repetition") повторящийся
                    option(value="singel",selected) текущия
            .form-group.task-repetition-type(style="display: none;")
                label repetition (повтровение)
                select.form-control(name='repetition_type')
                    option(value="weekly") еженедельно
                    option(value="daily",selected) ежедневно
                    option(value="date") по расписанию
            .form-group.task-repetition-type-select.task-repetition-type-weekly(style="display: none;")
                .btn-group.btn-group-justified(data-toggle='buttons')
                    label.btn.btn-primary
                        input.event-weekly(type='checkbox' name="weekly[1]")
                        |  пн
                    label.btn.btn-primary
                        input.event-weekly(type='checkbox' name="weekly[2]")
                        |  вт
                    label.btn.btn-primary
                        input.event-weekly(type='checkbox' name="weekly[3]")
                        |  ср
                    label.btn.btn-primary
                        input.event-weekly(type='checkbox' name="weekly[4]")
                        |  чт
                    label.btn.btn-warning
                        input.event-weekly(type='checkbox' name="weekly[5]")
                        |  пт
                    label.btn.btn-danger
                        input.event-weekly(type='checkbox' name="weekly[6]")
                        |  сб
                    label.btn.btn-danger
                        input.event-weekly(type='checkbox' name="weekly[7]")
                        |  вс
            .form-group.task-repetition-type-select.task-repetition-type-date(style="display: none;")
                label time(время может быть разное)
                input.form-control(type='checkbox', name='fixtime')
            .form-group.task-repetition-type-select.task-repetition-type-date(style="display: none;")
                button#task-action-date.form-control.btn.btn-default.btn-block(type="button") добавить
                #task-date
            .form-group.task-repetition-type(style="display: none;")
                label limit(срок)
                input.form-control(type='checkbox', name='limit')
            .form-group.task-limit(style="display: none;")
                label event begin(начало действия)
                .input-group.date
                    input.form-control(type='text', name='begin')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            .form-group.task-limit(style="display: none;")
                label event end(конец действия)
                .input-group.date
                    input.form-control(type='text', name='end')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
            .form-group.task-repetition-type-select.task-repetition-type-weekly.task-repetition-type-daily.task-fixtime
                label time(время)
                .input-group.time
                    input.form-control(type='text', name='time')
                    span.input-group-addon
                        span.glyphicon.glyphicon-calendar
        //.step-pane.active(data-step='4')
        //    .form-group
        //        label Список Аккаунтов
        //    .form-group
        //        #alert-account-list
        //        #toolbar-account-list