/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.04.2015, 22.04.2015 18:42:47
    Author     : alex
*/
html, body {
    height: 100%;
}
.fuelux .wizard .step-content > .active .btn-group .active {
    display:table-cell;
}
/*.modal-lg{*/
    /*width: 90%;*/
    /*max-height:90%;*/
/*}*/
.alert{
    text-align: center;
}
#alert>div{
    margin-bottom: 0px;
}
.modal-dialog.modal-gallery-preview{
    width: 90%;
    max-height:90%;
}
.modal-header.modal-gallery-preview{
    border-bottom: 0;
    padding: 15px;
}
.modal-content.modal-gallery-preview{
    padding: 0;
    /*height: 100%;*/
    /*width: 100%;*/
}
.modal-body.modal-gallery-preview{
    padding: 0;
}
.validation-error{
    text-align: center;
    color: #a94442;
    text-decoration: underline;
}
.validation-list{
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    overflow: auto;
    resize: auto;
    cursor: auto;
    height: 86px;
    margin: 0;
    font: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.banner{
    max-width: 128px;
    max-height: 128px
}
.row-modal > div:nth-child(n+2){
    padding-left: 0px;
}
.row-modal > div:first-child{
    padding-right: 0px;
}
.dd-selected-image{
    max-width:128px !important;
}
.dd-select{
    max-width:100% !important;
    max-height:100% !important;
}
.dd-option-image{
    max-width:128px !important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.row-no-padding  {
   padding: 0 !important;
   margin: 0 !important;
}
.row-no-padding-left  {
   padding-left: 0 !important;
   margin-left: 0 !important;
}
.row-no-padding-rigth  {
   padding-right: 0 !important;
   margin-right: 0 !important;
}
